<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SongLangMapper">
	<!-- 分页获取歌曲语种信息 -->
	<select id="listPageSongLang" parameterType="page" resultType="pd">
		select id,language,status from dblang order by status
	</select>
	<!-- 获取单个语种信息 -->
	<select id="singleSongLang" parameterType="string" resultType="pd">
		select id,language from dblang where id=#{langId}
	</select>
	
	<!-- 获取所有歌曲语种的名称和编号信息 -->
	<select id="allSongLang" resultType="pd">
		select id,language from dblang where status='1'
	</select>
	
	<!-- 新增歌曲语种信息 -->
	<insert id="addSongLang" parameterType="pd">
		insert into dblang(language) values (#{language})
	</insert>
	
	<!-- 修改歌曲语种信息  -->
	<update id="updateSongLang" parameterType="pd">
		update dblang
		<set>
			<if test="language!=null and language!=''">
				language=#{language},
			</if>
			<if test="status!=null and status!=''">
				status=#{status},
			</if>
		</set>
		where id=#{langId}
	</update>
</mapper>